/*Style.css*/
/*Background colors options*/
.bg-option-1 {
  background-color: rgb(26, 188, 34);
  color: rgb(255, 255, 255);
}

.bg-option-2 {
  background-color: rgb(84, 130, 203);
  color: rgb(255, 255, 255);
}

.bg-option-3 {
  background-color: rgb(238, 236, 234);
  color: rgb(85, 85, 85);
}

.bg-option-4 {
  background-color: rgba(40, 80, 140, 0.5);
  color: rgb(255, 255, 255)
}
.bg-option-5 {
  background-color: rgba(68, 121, 236, 0.247);
  color: rgb(255, 255, 255)
}
.bg-option-6 {
  background-color: rgb(32, 37, 49);
  color: rgb(255, 255, 255)
}
.text-color-blue{
  color:rgb(101, 111, 224)
}
/*Fonts families*/
